body {
  background-image: linear-gradient(to right bottom,#B0D3FF,#4E8AB5);
}
h1 {
  color: #188BDE;
  text-align: center;
}
#answer {
  color: #188BDE;
  text-align: left;
  border-radius: 9px;
  padding: 4px;
  background: rgba(187, 235, 240,0.2);
  font-family: "calibri";
  font-size: 140%
}
#question {
  color: #0F2C61;
  text-align: right;
  border-radius: 9px;
  padding: 4px;
  background: rgba(187, 235, 240,0.2);
  font-family: "calibri";
  font-size: 140%
}
#imgtl {
  height: 230;
  width: auto;
  margin: 6px;
  padding: 8px;
  border-radius: 9px; 
  text-align: left;
  background: rgba(187, 235, 240,0.2);
}
#imgwr {
  height: 230;
  width: auto;
  margin: 6px;
  padding: 8px;
  border-radius: 9px; 
  text-align: right;
  background: rgba(187, 235, 240,0.2);
}
#imgwl {
  height: 230;
  width: auto;
  margin: 6px;
  padding: 8px;
  border-radius: 9px; 
  text-align: left;
  background: rgba(187, 235, 240,0.2);
}
#imgec {
  height: 230;
  width: auto;
  margin: 6px;
  padding: 8px;
  border-radius: 9px; 
  text-align: center;
  background: rgba(187, 235, 240,0.2);
}
