body {
  background-image:linear-gradient(to right bottom,#B0D3FF,#4E8AB5);
}
h1 {
  color:#188BDE;
  text-align:center;
}
#answer {
  color:#188BDE;
  text-align:left;
  border-radius:9px;
  padding:4px;
  background: rgba(187, 235, 240,0.2);
  font-family:"calibri";
  font-size:140%
}
#question {
  color:#0F2C61;
  text-align:right;
  border-radius:9px;
  padding:4px;
  background: rgba(187, 235, 240,0.2);
  font-family:"calibri";
  font-size:140%
}
#img_tall_left {
  height:30;
  width:10;
  float:left;
}
#img_wide_right {
  height:10;
  width:30
  float:right;
}
#img_wide_left {
  height:10;
  width:30
  float:left;
}
#img_equal_center {
  height:15;
  width:15;
}
